<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376392621676-ud1mp9l2hatfr2qjmm7a7sedadhs4gcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376392621676-ud1mp9l2hatfr2qjmm7a7sedadhs4gcr</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Zj-JdwuaiScx5T9LM9kdUk7sAYNT-iM</string>
	<key>GCM_SENDER_ID</key>
	<string>376392621676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NihadSamedov.Uber-clone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-4ce31</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-4ce31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376392621676:ios:f2f269f83e9ae8ff818249</string>
</dict>
</plist>